body{

    & .search-results-page{
        & .search-res-wrapper{
            display: flex;
            flex-direction: column;
            gap: 30px;
            & .photo-wrapper{
                display: flex;
                gap: 35px;
    
                
                & img{
                    border-radius: 10px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                }
            }
    
            & .animal-details{
                color: #666;
            }
        }

    }
}